on:
  workflow_call:
    inputs:
      component:
        required: true
        type: string

env:
  CI_RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
  CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
  NDLA_RELEASES: ${{ secrets.NDLA_RELEASES }}
  NDLA_ENVIRONMENT: local
  NDLA_HOME: ${{ github.workspace }}/ndla
  NDLA_DEPLOY: ${{ github.workspace }}/ndla/deploy
  GPG_KEY: ${{ secrets.DEPLOY_BLACKBOX_GPG_KEY_B64 }}
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.CI_AWS_CLIENT_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.CI_AWS_CLIENT_SECRET }}
  AWS_DEFAULT_REGION: eu-west-1
jobs:
  release:
    name: Release and push to registry (${{ matrix.platform }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
        with:
          path: ndla/${{ github.event.repository.name }}

      - uses: ndlano/reusable-workflows/.github/actions/setup-deploy-environment@main
        with:
          AWS_CLIENT_ID: ${{ secrets.CI_AWS_CLIENT_ID }}
          AWS_CLIENT_SECRET: ${{ secrets.CI_AWS_CLIENT_SECRET }}
          AWS_ECR_REPO: ${{ secrets.NDLA_AWS_ECR_REPO }}
          DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
          CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
          PYTHON_VERSION: ${{ vars.PYTHON_VERSION }}
          UV_VERSION: ${{ vars.UV_VERSION }}
          JAVA_VERSION: ${{ vars.JAVA_VERSION }}
          TERRAFORM_VERSION: ${{ vars.TERRAFORM_VERSION }}
          KUBECTL_VERSION: ${{ vars.KUBECTL_VERSION }}
          AWS_IAM_AUTHENTICATOR_VERSION: ${{ vars.AWS_IAM_AUTHENTICATOR_VERSION }}

      - name: Build kubernetes config
        run: uv --directory $NDLA_DEPLOY run ndla env kubeconfig test

      - name: Do release
        shell: bash
        run: uv --directory $NDLA_DEPLOY run ndla release ${{ inputs.component }} --platforms ${{ matrix.platform }}

  manifest:
    name: Publish multi-arch manifest
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v4
        with:
          path: ndla/${{ github.event.repository.name }}

      - uses: ndlano/reusable-workflows/.github/actions/setup-deploy-environment@main
        with:
          AWS_CLIENT_ID: ${{ secrets.CI_AWS_CLIENT_ID }}
          AWS_CLIENT_SECRET: ${{ secrets.CI_AWS_CLIENT_SECRET }}
          AWS_ECR_REPO: ${{ secrets.NDLA_AWS_ECR_REPO }}
          DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
          CI_GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
          PYTHON_VERSION: ${{ vars.PYTHON_VERSION }}
          UV_VERSION: ${{ vars.UV_VERSION }}
          JAVA_VERSION: ${{ vars.JAVA_VERSION }}
          TERRAFORM_VERSION: ${{ vars.TERRAFORM_VERSION }}
          KUBECTL_VERSION: ${{ vars.KUBECTL_VERSION }}
          AWS_IAM_AUTHENTICATOR_VERSION: ${{ vars.AWS_IAM_AUTHENTICATOR_VERSION }}

      - name: Create multi-arch manifest
        shell: bash
        run: |
          uv --directory $NDLA_DEPLOY run ndla release ${{ inputs.component }} \
            --create-manifest \
            --platforms linux/amd64,linux/arm64
